Makefile
config.log
config.status
doc/Makefile
doc/conf.py
lib/Makefile
man/Makefile
man/ifm.1
progs/Makefile
progs/ifm2dev
progs/ifm2tex
progs/ifm2web
progs/scr2ifm
progs/tkifm
src/.deps/
src/Makefile
src/ifm
src/ifm.exe
src/ifm-dot.o
src/ifm-driver.o
src/ifm-fig.o
src/ifm-main.o
src/ifm-map.o
src/ifm-parse.o
src/ifm-path.o
src/ifm-ps.o
src/ifm-raw.o
src/ifm-rec.o
src/ifm-scan.o
src/ifm-task.o
src/ifm-text.o
src/ifm-tk.o
src/ifm-util.o
src/ifm-vars.o
src/libfig/.deps/
src/libfig/Makefile
src/libfig/fig-attr.o
src/libfig/fig-file.o
src/libfig/fig-object.o
src/libfig/fig-util.o
src/libfig/libfig.a
src/libvars/.deps/
src/libvars/Makefile
src/libvars/libvars.a
src/libvars/vars-buffer.o
src/libvars/vars-config.o
src/libvars/vars-copy.o
src/libvars/vars-debug.o
src/libvars/vars-destroy.o
src/libvars/vars-freeze-lex.o
src/libvars/vars-freeze.o
src/libvars/vars-getopt.o
src/libvars/vars-graph.o
src/libvars/vars-hash.o
src/libvars/vars-iterate.o
src/libvars/vars-list.o
src/libvars/vars-memory.o
src/libvars/vars-print.o
src/libvars/vars-queue.o
src/libvars/vars-random.o
src/libvars/vars-scalar.o
src/libvars/vars-system.o
src/libvars/vars-traverse.o
src/libvars/vars-type.o
src/libvars/vars-utils.o
src/libvars/vars-write.o
src/libvars/vars-xml.o
src/libvars/vars-yaml.o
tests/Makefile
